/* Write your CSS here */
.list-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  background-color: #585076;
  color: #ffffff;
  border-radius: 8px;
  border-color: #c4c4c4;
  width: 120px;
  height: 30px;
  margin: 8px;
}
